<!DOCTYPE html>
<html>
<head>
  <title>Video Player</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/uikit.min.css" />
  <script src="js/uikit.min.js"></script>
  <script src="js/uikit-icons.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/isoCountries.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  <style>
    .uk-panel > img, .vp-link{
      cursor: pointer;
    }
    #app{
      background-color: black;
    }
    .vp-red{
      color: brown !important;
    }
  </style>
</head>
<body>
  <div class="uk-section-default" id="app">
    <div class="uk-container">
      <vp-navigation-bar></vp-navigation-bar>
      <vp-region></vp-region>
      <vp-player></vp-player>
      <vp-content :videos="AllVideos"></vp-content>
      <br>
      <vp-content :videos="sportsVideos"></vp-content>
      <br>
      <vp-content :videos="musicVideos"></vp-content>
      <vp-footer></vp-footer>
    </div>
  </div>
  
  <script>
    Vue.filter('concat', function  (text, length = 30){
      return text.substring(0, length)+'..';
    })
    Vue.component('vp-navigation-bar',{
      template: `
      <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
      <div class="uk-navbar-center">
  
          <div class="uk-navbar-center-left">
            <div>
              <ul class="uk-navbar-nav">
                  <li></li>
              </ul>
          </div>
        </div>
          <a class="uk-navbar-item uk-logo vp-red" href="#">Video Pl<span class=" vp-red" uk-icon="icon: play-circle; ratio: 2"> </span>yer</a>
          <div class="uk-navbar-center-right"><div>
              <ul class="uk-navbar-nav">
                  <li></li>
              </ul>
          </div>
        </div>
  
      </div>
  </nav>
      `
    })
    Vue.component('vp-footer',{
      template: `
      <div class="uk-section-secondary">
        <div class="container">
            <div class="uk-column-1-1">
              <p class="uk-text-center">Video Player</p>
            </div>
        </div>
      </div>
      `
    })
    Vue.component('vp-player',{
      props: [],
      template: `
      <div class="uk-section-secondary">
    <div class="container">
        <div class="uk-align-center">
            <iframe class="uk-align-center" :src="$parent.videoToPlay" width="560" height="315" frameborder="0" allowfullscreen uk-responsive uk-video="automute: true;autoplay: inview"></iframe>  
        </div>
    </div>
  </div>
      `
    })
    Vue.component('vp-content', {
      props: ['videos'],
      template: `
      <div class="uk-section-secondary">
    <div class="container">
        <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider="finite: true">

            <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">
                <li v-for="(video, key) in videos" :key="key">
                    <div class="uk-panel">
                        <img v-on:click="$parent.playVideo(video.id, $event)" :src="video.snippet.thumbnails.high.url" :alt="video.snippet.title">
                        <div class="uk-position-bottom uk-overlay uk-overlay-primary uk-panel"><span class="vp-link" v-on:click="$parent.playVideo(video.id, $event)" >{{video.snippet.title | concat(40)}}</span></div>
                    </div>
                </li>
            </ul>
        
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
        </div>
    </div>
  </div>
      `
    })
    Vue.component('vp-region',{
      template: `
      <div class="uk-section-secondary">
        <div class="container">
            <div class="uk-margin uk-text-center">
                <div uk-form-custom="target: > * > span:last-child">
                    <select v-model="$parent.countryCode">
                        <option selected default value="TZ">Tanzania</option>
                        <option v-for="(country, key) in $parent.Countries" :value="country.ccode">{{country.cname}}</option>
                    </select>
                    <span class="uk-link">
                        <span uk-icon="icon: youtube"></span>
                        <span></span>
                    </span>
                </div>
            </div> 
        </div>
      </div>
      `
    })
    const app = new Vue({
      el: '#app',
      data () {
        return {
          videoToPlay: '',
          yk: 'AIzaSyB3qwMvmqBOHk7-1bowjECxEY-KaPRxx3M',
          AllVideos: '',
          sportsVideos: '',
          musicVideos: '',
          Countries: isoCountries,
          countryCode: ''
        } 
      },
      watch: {
        countryCode(){
          this.fetchVideos()
        }
      },
      mounted(){
        this.countryCode = 'TZ'
        this.fetchVideos()
      },
      methods: {
        fetchVideos(){
          var pp = this

            axios.get('https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&chart=mostPopular&maxResults=20&regionCode='+pp.countryCode +'&key=' + pp.yk)
              .then(function (response) {

                  pp.AllVideos = response.data.items
                  console.log(pp.Video)
              })
              .catch(function (error) {
                  if(error.status){
                      alert(error)
                  }
              });

              // sports videos
              axios.get('https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&chart=mostPopular&maxResults=20&videoCategoryId=17&regionCode='+pp.countryCode +'&key=' + pp.yk)
              .then(function (response) {

                  pp.sportsVideos = response.data.items
                  console.log(pp.Video)
              })
              .catch(function (error) {
                  if(error.status){
                      alert(error)
                  }
              });

              // music videos
              axios.get('https://www.googleapis.com/youtube/v3/videos?part=snippet%2CcontentDetails%2Cstatistics&chart=mostPopular&maxResults=20&videoCategoryId=10&regionCode='+pp.countryCode +'&key=' + pp.yk)
              .then(function (response) {

                  pp.musicVideos = response.data.items
                  console.log(pp.Video)
              })
              .catch(function (error) {
                  if(error.status){
                      alert(error)
                  }
              });
        },
        playVideo (video_id, event){
          var pp =this
            if(event){

              pp.videoToPlay = 'https://www.youtube-nocookie.com/embed/'+video_id+'?autoplay=0&amp;showinfo=0&amp;rel=0&amp;modestbranding=1&amp;playsinline=1';

              window.scrollTo(0, 80);
            }
        }
      }
    })
  </script>
</body>
</html>
